# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# project files
.gitignore.swp
Makefile
config.h.in~
config.log
config.status
src/.deps/
src/Makefile
src/hough
src/hough-recog.o
src/imgproc.o
src/interface.o
src/main.o

